{% extends 'base.html.twig' %}

{% block title %}Hello MentionController!{% endblock %}

{% block body %}
<p style="text-align:center"><span style="color:rgb(255, 0, 0)"><span style="background-color:rgb(211, 211, 211)">Si vous utilisez nos Mentions Légales, vous vous engagez à laisser les liens </span><strong><span style="background-color:rgb(211, 211, 211)">Crédit sans en modifier ni les liens ni les ancres.</span></strong><span style="background-color:rgb(211, 211, 211)"> </span></span><br />
<span style="color:rgb(255, 0, 0)"><span style="background-color:rgb(211, 211, 211)">Par avance merci pour votre compréhension et le respect du travail effectué par toute l'équipe</span></span></p>

<h1>MENTIONS LEGALES :</h1>

<p style="text-align:justify"><strong> </strong><br />
Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site : <a href="http://google.fr" target="_blank">google.fr</a> les informations suivantes :</p>

<p style="text-align:justify"><strong>ÉDITEUR</strong></p>

<p style="text-align:justify">Le site <a href="http://google.fr" style="color: rgb(7, 130, 193); font-family: sans-serif, Arial, Verdana, " target="_blank">google.fr</a> est la propriété exclusive de <strong>Nostrum commodo prov </strong><strong>Id eum repudiandae </strong>, qui l'édite.</p>

<p style="text-align:justify"><strong>Id eum repudiandae </strong><strong> </strong><br />
<strong>Nostrum commodo prov </strong>au capital de<strong> </strong><strong>Quos dolorem volupta </strong>€Tél  : <strong>Tempore facere in s</strong></p>

<p style="text-align:justify"><strong>Eos omnis aliqua Iu </strong><strong>Qui in occaecat vero Distinctio Mollit h</strong><br />
Immatriculée au Registre du Commerce et des Sociétés de  <strong>Ab ut aut amet beat </strong>sous le numéro<strong> </strong><strong>Quisquam exercitatio</strong><strong> </strong></p>

<p style="text-align:justify">Numéro TVA intracommunautaire : <strong>Nobis accusantium ve</strong><br />
Adresse de courrier électronique : <strong>issam.cms@gmail.com</strong> <br />
 <br />
Directeur de la  publication : <strong>Tenetur quo irure ne</strong><br />
Contactez le responsable de la publication : <strong>issam.cms@gmail.com</strong></p>

<p style="text-align:justify"> </p>

<p style="text-align:justify"><strong>HÉBERGEMENT</strong></p>

<p style="text-align:justify">Le site est hébergé par <strong>Quibusdam voluptatem Anim molestiae enim  Quidem cupiditate mo Ut laborum quis temp</strong><br />
<u><strong>CREDITS :</strong></u> les mentions légales ont étés générées par <strong><a href="https://www.generer-mentions-legales.com">mentions légales</a></strong><br />
Horaires de la <strong><a href="http://www.patinoire.biz/p+patinoire-de-lyon---charlemagne+113.html">Patinoire Lyon</a></strong></p>

{% endblock %}
