{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }} - Page d'accueil
{% endblock %}


{% block body %}
	<section class="shop-landing">
		<div class="container">
			<h2 class="title">Oeuvres</h2>
			<div class="row">
				{% set i = 0%}
				{% for artwork in artworks %}
					<div class="col-md-4 col-sm-6 col-xs-12 mb-5">
						{% include 'inc/card.html.twig' %}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
