<div class="card">
	<div class="card-img">
		<img src="{{ asset('uploads/img/artworks/' ~ artwork.image) }}" class="img-responsive w-100" alt="">
	</div>
	<div class="card-body">
		<h5 class="card-title text-center">{{ artwork.name }}</h5>
		<p class="card-text">{{ artwork.description |truncate(10) }}</p>
		<br>
		<a href="{{path('artwork.show', {'slug': artwork.slug})}}" class="btn btn-primary w-100">Voir</a>
	</div>
</div>
