<div class="card mb-5">
	<div class="card-img">
		<img src="{{ asset('images/peinture.jpg') }}" class="img-responsive w-100" alt="">
	</div>
	<div class="card-body">
		<h5 class="card-title text-center">TEST</h5>
		<br>
		<a href="#" class="btn btn-primary w-100">Voir</a>
	</div>
</div>
